<div class="person" id="#person">
  <img src="{{avatar}}" class="avatar" class="img-thumbnail">
<<<<<<< HEAD
  <div class="overlay">
=======
      <div class="overlay">
>>>>>>> origin/master

  <h2>{{first_name}} {{last_name}}</h2>
  <h3>{{profession}}</h3>
    <div class='icons'>
        {{#if twitter_handle}}
        <a href="http://twitter.com/{{twitter_handle}}" target="_blank"><span class="fa fa-twitter"></span></a>
        {{/if}}
        {{#if email}}
        <a href="mailto:{{email}}"><span class="fa fa-envelope"></span></a>
        {{/if}}
        {{#each links}}
        <a href="{{this}}" target="_blank"><span class="fa fa-link"></span></a>
        {{/each}}
    </div>
    <div class="tags">
        {{#each skills}}
          <a href="#">{{this}}</a>
        {{/each}}
    </div>
    {{#if blurb}}
    <div class="blurb">{{blurb}}</a></div>
    {{/if}}
<<<<<<< HEAD


  </div>
=======


      </div>
    </div>
>>>>>>> origin/master
</div>
