<div class="person">
  <img src="{{avatar}}" class="avatar" class="img-thumbnail">
      <div class="overlay">

  <h2>{{first_name}} {{last_name}}</h2>
  <h3>{{profession}}</h3>
    <div class='icons'>
        {{#if twitter_handle}}
        <a href="http://twitter.com/{{twitter_handle}}" class="twitter" target="_blank"></a>
        {{/if}}
        {{#if email}}
        <a href="mailto:{{email}}" class="email"></a>
        {{/if}}
        {{#each links}}
        <a href="{{this}}" class="link" target="_blank"></a>
        {{/each}}
    </div>
    <div class="tags">
        {{#each skills}}
          <a href="#">{{this}}</a>
        {{/each}}
    </div>
    {{#if blurb}}
    <div class="blurb">{{blurb}}</a></div>
    {{/if}}


      </div>
    </div>
</div>
