<div class="overlay">
  <!-- email: 'i@gmail.com',
  twitter_handle: '@i',
  avatar: 'http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50',
  homebase: 'US',
  profession: 'Software Developer',
  passions: ['Cakes', 'Coffee'],
  skills: ['Software'],
  current_location: 'Buenos Aires',
  blurb: 'Here I am' -->
    <h2>{{first_name}} {{last_name}}</h2>

    <p class="tag">Pet my little furry head.</p>

    <div class='icons'>
        <a href="#" class="twitter">{{twitter_handle}}</a>
        <a href="#" class="email">{{email}}</a>
        <a href="#" class="link">URL</a>
    </div>

    <div class="tags">
        {{#each skills}}
          <a href="#">{{this}}</a>
        {{/each}}
    </div>

</div>
